<section class="bg-gray-900/60 justify-center items-center transition-all duration-500" id="sobre-mi">
    <div class="m-auto w-5/6 max-w-[1000px] flex flex-col py-28">
        <div class="text-start">
            <h1 class="text-4xl font-bold text-blue-500">Sobre mí</h1>
            <p class="text-slate-100 text-lg font-normal mt-1">
                Hola, soy Victor Noriega, un apasionado desarrollador web frontend con un amplio conocimiento en backend, también soy estudiante de octavo semestre de Ingeniería de Sistemas en Colombia. Mi enfoque se centra en la creación de experiencias web impactantes y funcionales.
                Me considero una persona totalmente autónoma y con una gran capacidad de aprendizaje. 
            </p>
        </div>
        <div class="flex flex-col gap-10 lg:flex-row lg:gap-12">
            <div class="flex flex-col gap-2 max-w-xs">
                <h2 class="text-blue-500 text-2xl font-semibold mt-4">Educación</h2>
                <ol class=" marker:text-blue-500 list-disc flex flex-row flex-wrap lg:flex-col gap-5 lg:gap-4 max-w-sm py-2">
                    <li class="ml-4 text-slate-100 text-lg">Institución Educativa Técnico Industrial Pedro Castro Monsalvo <br> <span class="text-slate-400 text-base">Bachiller Técnico</span> <br> <span class="text-slate-400 text-base">( 2013 - 2018 )</span></li>
                    <li class="ml-4 text-slate-100 text-lg">Universidad Popular del Cesar <br> <span class="text-slate-400 text-base">Ingeniería de Sistemas</span> <br> <span class="text-slate-400 text-base">( 2020 - Actual )</span></li>
                </ol>
            </div>
            <div class="flex flex-col gap-2">
                <h2 class="text-blue-500 text-2xl font-semibold mt-4">Cursos</h2>
                <ol class=" marker:text-blue-500 list-disc flex flex-row flex-wrap lg:flex-col gap-5 lg:gap-4 py-2">
                    <li class="ml-4 text-slate-100 text-lg">Programación Web desde Cero</li>
                    <li class="ml-4 text-slate-100 text-lg">Responsive Web Design</li>
                    <li class="ml-4 text-slate-100 text-lg">Back End Development and Apis</li>
                    <li class="ml-4 text-slate-100 text-lg">Github Foundations</li>
        
                </ol>
                <div class="flex flex-row ">
                    <a id="certficatebutton" href="#certificate" class="bg-blue-600 text-slate-100 py-2 px-4 rounded-md font-semibold text-center hover:bg-blue-700">Ver certificados</a>
                </div>
            </div>
            <div class="flex flex-col gap-2">
                <h2 class="text-blue-500 text-2xl font-semibold mt-4">Habilidades</h2>
                <div class="flex fle-wrap gap-4 items-center">
                    
                    <div class="flex flex-col gap-2">
                        <img src="assets/img/html-icon.svg" alt="" class="w-13 h-14">
                    </div>
                    <div class="flex flex-col gap-2">
                        <img src="assets/img/css-icon.svg" alt="" class="w-13 h-14">
                    </div>
                    <div class="flex flex-col gap-2">
                        <img src="assets/img/node-icon.svg" alt="" class="w-12 h-13">
                    </div>
                    <div class="flex flex-col gap-2">
                        <img src="assets/img/astro-icon.svg" alt="" class="w-9 h-9"/>
                        
                    </div>
                    <div class="flex flex-col gap-2">
                        <img src="assets/img/react-icon.svg" alt="" class="w-12 h-13">
                        
                    </div>
                    <div class="flex flex-col gap-2">
                        <img src="assets/img/tailwind-icon.svg" alt="" class="w-12 h-13">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class=" lg:w-2/5 w-[350px] h-[500px] z-10 py-2 border border-slate-600 rounded-md bg-gray-950 hidden backdrop-filter backdrop-blur-lg fixed top-0 right-0 left-0 bottom-0 m-auto justify-center overflow-x-auto" id="certificate">
    <button onclick="closeCertificate()" class="text-slate-100 absolute top-4 right-4 ">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
    </button>
    <div class="flex flex-col gap-2 text-center">
        <h2 class="text-blue-500 text-2xl font-semibold mt-4">Certificados</h2>
        <div class="flex flex-col flex-wrap gap-2 px-4 pt-1 pb-5">
            <img src="assets/img/programacion-web-certificate.jpg" alt="" class="w-96 h-auto">
            <img src="assets/img/responsive-certificate.png" alt="" class="w-96 h-auto">
            <img src="assets/img/back-certificate.png" alt="" class="w-96 h-auto">
        </div>
    </div>
</section>

</section>
<script is:inline>
    
    const certficatebutton = document.getElementById('certficatebutton');
    const certificate = document.getElementById('certificate');
    const sobremi = document.getElementById('sobre-mi');
    const header = document.getElementById('header');
    const body = document.getElementById('body');
    certficatebutton.addEventListener('click', () => {
        certificate.style.display = 'flex';
        sobremi.style.filter = 'blur(5px)';
        if(certificate){
            header.style.display = 'none';
            body.style.overflow = 'hidden';
        }
    })

    function closeCertificate(){
        certificate.style.display = 'none';
        sobremi.style.filter = 'blur(0px)';
        header.style.display = 'flex';
        body.style.overflow = 'auto';
    }
    
</script>