<section class="min-h-screen" id="projects">
    <div class="m-auto w-5/6 max-w-[1000px] flex flex-col py-28 ">
        <h1 class="text-4xl text-blue-500 font-semibold ">Proyectos</h1>
        <div class="grid grid-cols lg:grid-cols-3 gap-5 mt-4">
            <a href="https://github.com/vnoriega10/Makeup-Store" target="_blank" class=" relative overflow-hidden h-auto rounded-md pb-5 bg-slate-900 hover:bg-slate-800">
                <img src="assets/img/ADA-img.png" alt="Captura de pantalla del proyecto">
                <h1 class="text-slate-100  text-xl font-semibold pt-2 px-3">ADA</h1>
                <p class="text-slate-400 text-sm px-3">
                    Tienda online de productos de belleza y cuidado personal 
                    con bolsa de compras y pedidos vía Whatsapp.
                </p>
                <div class="ml-3 flex gap-2 mt-2">
                    <div class="bg-orange-600/90 py-1 px-2 items-center rounded-lg">
                        <svg width="16" height="16" viewBox="0 0 85 107" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M27.5893 91.1365C22.7555 86.7178 21.3443 77.4335 23.3583 70.7072C26.8503 74.948 31.6888 76.2914 36.7005 77.0497C44.4374 78.2199 52.0358 77.7822 59.2231 74.2459C60.0453 73.841 60.8052 73.3027 61.7036 72.7574C62.378 74.714 62.5535 76.6892 62.3179 78.6996C61.7452 83.5957 59.3086 87.3778 55.4332 90.2448C53.8835 91.3916 52.2437 92.4167 50.6432 93.4979C45.7262 96.8213 44.3959 100.718 46.2435 106.386C46.2874 106.525 46.3267 106.663 46.426 107C43.9155 105.876 42.0817 104.24 40.6844 102.089C39.2086 99.8193 38.5065 97.3081 38.4696 94.5909C38.4511 93.2686 38.4511 91.9345 38.2733 90.6309C37.8391 87.4527 36.3471 86.0297 33.5364 85.9478C30.6518 85.8636 28.37 87.6469 27.7649 90.4554C27.7187 90.6707 27.6517 90.8837 27.5847 91.1341L27.5893 91.1365Z" fill="white"/>
                            <path d="M0 69.5866C0 69.5866 14.3139 62.6137 28.6678 62.6137L39.4901 29.1204C39.8953 27.5007 41.0783 26.3999 42.4139 26.3999C43.7495 26.3999 44.9325 27.5007 45.3377 29.1204L56.1601 62.6137C73.1601 62.6137 84.8278 69.5866 84.8278 69.5866C84.8278 69.5866 60.5145 3.35233 60.467 3.21944C59.7692 1.2612 58.5911 0 57.0029 0H27.8274C26.2392 0 25.1087 1.2612 24.3634 3.21944C24.3108 3.34983 0 69.5866 0 69.5866Z" fill="white"/>
                        </svg>
                    </div>
                    <div class="bg-sky-500/40 py-1 px-2 items-center rounded-lg">
                        <img src="assets/img/react-icon.svg" alt="react icon" class="w-4 h-auto">
                    </div>
                    <div class="bg-green-900 py-1 px-2 items-center rounded-lg">
                        <img src="assets/img/node-icon.svg" alt="node icon" class="w-4 h-auto">
                    </div>
                    <div class="bg-cyan-950 py-1 px-2 items-center rounded-lg">
                        <img src="assets/img/tailwind-icon.svg" alt="tailwind icon" class="w-4 h-auto">
                    </div>
                </div>
            </a>
            <a href="https://github.com/vnoriega10/mern-crud-auth" target="_blank" class="relative overflow-hidden h-auto rounded-md bg-slate-900 hover:bg-slate-800 pb-5">
                <img src="assets/img/YourTasks.png" alt="Captura de pantalla del proyecto" class="border-b border-slate-600">
                <h1 class="text-slate-100  text-xl font-semibold pt-2 px-3">YourTasks</h1>
                <p class="text-slate-400 text-sm px-3">
                    Pagina web en la que puedes visualizar tus tareas y gestionar cada una de ellas, incluye un iniciar sesión y un registrar usuario.
                </p>
                <div class="flex gap-2 px-3 py-2">
                    <div class="bg-sky-500/40 py-1 px-2 items-center rounded-lg">
                        <img src="assets/img/react-icon.svg" alt="react icon" class="w-4 h-auto">
                    </div>
                    <div class="bg-emerald-800 py-1 px-2 items-center rounded-lg">
                        <img src="assets/img/mongodb-icon.svg" alt="mongodb icono" class="w-4 h-auto">
                    </div>
                    <div class="bg-green-900 py-1 px-2 items-center rounded-lg">
                        <img src="assets/img/node-icon.svg" alt="node icon" class="w-4 h-auto">
                    </div>
                    <div class="bg-cyan-950 py-1 px-2 items-center rounded-lg">
                        <img src="assets/img/tailwind-icon.svg" alt="tailwind icon" class="w-4 h-auto">
                    </div>
                </div>
                
            </a>
            <a href="https://github.com/vnoriega10/easy-chat" target="_blank" class=" relative overflow-hidden  h-auto rounded-md pb-5 bg-slate-900 hover:bg-slate-800">
                <img src="assets/img/easychat.png" alt="Captura de pantalla del proyecto">
                <h1 class="text-slate-100  text-xl font-semibold pt-2 px-3">Easy Chat</h1>
                <p class="text-slate-400 text-sm px-3">Chat en tiempo real, los usuarios pueden enviar mensajes de texto en un entorno fácil de usar.
                </p>
                <div class="px-3 flex gap-2 py-2">
                    <div class="bg-slate-100 py-1 px-2 items-center rounded-lg">
                        <img src="assets/img/socket-icon.svg" alt="socket io icon" class="w-4 h-auto">
                    </div>
                    <div class="bg-green-900 py-1 px-2 items-center rounded-lg">
                        <img src="assets/img/node-icon.svg" alt="node icon" class="w-4 h-auto">
                    </div>
                    <div class="bg-sky-950 py-1 px-2 items-center rounded-lg">
                        <img src="assets/img/sql-icon.svg" alt="sql icon" class="w-3 h-auto">
                    </div>
                    <div class="bg-yellow-700 py-1 px-2 items-center rounded-lg">
                        <img src="assets/img/js-icon.svg" alt="javascript icon" class="w-4 h-auto">
                    </div>
                    <div class="bg-orange-800/90 py-1 px-2 items-center rounded-lg">
                        <img src="assets/img/html-icon.svg" alt="html icon" class="w-4 h-auto">
                    </div>
                    <div class="bg-cyan-950 py-1 px-2 items-center rounded-lg">
                        <img src="assets/img/css-icon.svg" alt="css icon" class="w-4 h-auto">
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>